body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden; /* scroll nativo */
}

.image-container {
    width: 100%;
    height: 100px; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 10;
}

.image-container img {
    max-width: 100%;
    height: 100px;
}

.titles-container {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 150px; 
    width: 100%;
    text-align: center;
    z-index: 5; /* sobre los cuadros */
}

.title {
    font-size: 42px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 1s ease-out;
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 20px 0; /* Espacio entre los títulos */
}

.floating-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1500px;
    margin-top: 270px; /* espacio para la imagen y los títulos */
}

.floating-box, .perspective-box {
    position: absolute;
    width: 250px;
    height: 200px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    opacity: 0;
    transform: scale(1) translateZ(0);
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

.perspective-box {
    width: 200px;
    height: 150px;
    font-size: 18px;
}
.perspective-box img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    object-fit: cover; /* Ajusta la imagen sin distorsión, recortando si es necesario */
    display: block; /* Elimina espacios en blanco alrededor de la imagen */
}

/* Background */

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Textos */

.textcontent {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    opacity: 0;
    transition: opacity 1s ease-out;
    position: absolute;
    width: 100%;
    text-align: center;
}
.text-container {
    color: rgb(43, 43, 43);
    position: absolute;
    bottom: 300px; 
    width: 100%; /* Ocupa todo el ancho */
    text-align: center;
    z-index: 5; /* sobre los cuadros */
    left: 50%; /* Centrado horizontal */
    transform: translateX(-50%); /* Ajuste para centrar */
}

/* desplegable */
#div-desplegable {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    align-items: center;
    z-index: 15;
    transition: bottom 0.5s ease-in-out;
    overflow: hidden;
    bottom: -100%;
}

#btn-desplegar {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    width: 300px; /* Tamaño de la imagen */
    height: auto;
    cursor: pointer;
    transition: bottom 0.5s ease-in-out; /* Movimiento sincronizado */
}

.hidden {
    opacity: 0;
    pointer-events: none; /* Evitar interacción mientras están ocultos */
    transition: opacity 0.5s ease-in-out; /* Transición suave */
}

.visible {
    opacity: 1;
    pointer-events: auto; /* Recuperar interacción */
    transition: opacity 0.5s ease-in-out; /* Transición suave */
}

#btn-cerrar {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 20; /* Asegúrate de que esté encima de todo */
}

#btn-cerrar img {
    width: 32px; /* Tamaño del ícono */
    height: 32px;
    transition: transform 0.3s ease; /* Efecto al pasar el mouse */
}

#btn-cerrar img:hover {
    transform: scale(1.1); /* Agranda ligeramente al pasar el mouse */
}
/* Estilo para las tarjetas simples en el div desplegable */
.simple-card {
    width: 100%;      /* Ancho fijo de la tarjeta */
    height: auto;     /* Alto fijo de la tarjeta */
    margin: 10px;      /* Espaciado entre las tarjetas */
    overflow: hidden;  /* Ocultar cualquier parte de la imagen que sobresalga */
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.simple-card img {
    width: 100%;      /* Las imágenes cubrirán el ancho de la tarjeta */
    height: 100%;     /* Las imágenes cubrirán la altura de la tarjeta */
    object-fit: contain; /* Mantiene la proporción de la imagen sin distorsión */
}

.simple-card:hover {
    transform: scale(110%);
    transition: all 0.5s;
}

#grid-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Asegura que las tarjetas mantengan un ancho mínimo de 200px */
    grid-auto-rows: 270px; /* Las filas mantienen una altura fija de 150px */
    gap: 10px;            /* Espacio entre las tarjetas */
    width: 90%;           /* El contenedor ocupa todo el ancho disponible */
    height: 70%;
    overflow-x: hidden;     /* Permite desplazamiento horizontal */
    overflow-y: auto;   /* Evita desplazamiento vertical */
    white-space: nowrap;  /* Evita que las filas se ajusten al contenedor */
    justify-content: start; /* Alinea el contenido al inicio (izquierda) */
}


/* ======================================= contenido del div desplegable ============================================= */
#tab-container {
    position: relative;
    width: 100%;
    margin-top: 150px;
  }
  
  #tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    z-index: 10; /* Para asegurarnos de que los botones estén sobre el contenido */
  }
  
  .tab-btn {
    padding: 12px 25px;
    font-size: 1.5rem;
    background-color: transparent;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.1s ease;
  }
  
  .tab-btn:hover {
    opacity: 0.8;
  }
  
  #btn-nosotros {
    color: #77DD77;
  }
  
  #btn-servicios {
    color: #FFB3B3;
  }
  
  #btn-contacto {
    color: #A2C2E8;
  }
  
  #tab-content {
    display: flex;
    text-align: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    padding: 20px;
    border-top: 2px solid #ccc;
  }
  
  #tab-content.visible {
    opacity: 1;
  }
  

  /* ======================================= contenido del div desplegable ============================================= */