body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
    transition: background 0.5s ease;
    background-image: url(../imagenes/generalBackground.png);
    background-size: 120%;
    background-position: center calc(50% - 100px);
    background-color: #000;
    background-repeat: no-repeat;
}

.image-container {
    width: 100%;
    height: 200px; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 10;
}

.image-container img {
    max-width: 100%;
    height: 150px;
}

/* ================================================================================ */

.titles-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 100px;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease; /* Suave transición al ocultar */
    background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgb(0, 0, 0) 30%, rgb(0, 0, 0) 70%, rgba(172,172,172,0) 100%);
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    margin: 30px 0;
  }
  
  .hidden {
    opacity: 0; /* Ocultar títulos */
  }
  
  

  /* ================================================================================ */

.floating-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1500px;
    margin-top: 270px; 
}

.floating-box, .perspective-box {
    position: absolute;
    width: 250px;
    height: 200px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    opacity: 0;
    transform: scale(1) translateZ(0);
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

.perspective-box {
    width: 200px;
    height: 150px;
    font-size: 18px;
    transform: scale(1) translate(0px, -275.7px);
}
.perspective-box img {
    width: 100%; 
    object-fit: cover; 
    display: block; 
}



body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Textos */

.textcontent {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    position: absolute;
    width: 100%;
    text-align: center;
}
.text-container {
    color: rgb(43, 43, 43);
    position: absolute;
    bottom: 300px; 
    width: 100%;
    text-align: center;
    z-index: 5; 
    left: 50%; 
    transform: translateX(-50%); 
}

/* desplegable */
#div-desplegable {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    align-items: center;
    z-index: 15;
    transition: bottom 0.5s ease-in-out;
    overflow: hidden;
    bottom: -100%;
}

#btn-desplegar {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    width: 300px;
    height: auto;
    cursor: pointer;
    transition: bottom 0.5s ease-in-out; 
}

.hidden {
    opacity: 0;
    pointer-events: none; 
    transition: opacity 0.5s ease-in-out; 
}

.visible {
    opacity: 1;
    pointer-events: auto; 
    transition: opacity 0.5s ease-in-out; 
}

#btn-cerrar {
    position: fixed;
    top: 20px;
    right: 30px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 20; 
}

#btn-cerrar img {
    width: 32px; 
    height: 32px;
    transition: transform 0.5s ease; 
}

#btn-cerrar img:hover {
    transform: scale(1.1); 
}

.simple-card {
    width: 100%;     
    height: auto;    
    margin: 10px;     
    overflow: hidden;  
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.simple-card img {
    width: 100%;     
    height: 100%;    
    object-fit: contain; 
}

.simple-card:hover {
    transform: scale(110%);
    transition: all 0.5s;
}

#grid-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 270px; 
    gap: 10px;          
    width: 90%;          
    height: 70%;
    overflow-x: hidden;   
    overflow-y: auto;  
    white-space: nowrap; 
    justify-content: start; 
}


/* ======================================= contenido del div desplegable ============================================= */
#tab-container {
    position: relative;
    width: 100%;
    height: 90vh;
  }
  
  #tabs {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    position: sticky;
    top: 0;
    z-index: 10; 
    padding-top: 50px;
    border-bottom: 2px solid #ccc;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .tab-btn {
    padding: 12px 25px;
    font-size: 1.5rem;
    background-color: transparent;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.1s ease;
  }
  
  .tab-btn:hover {
    opacity: 0.8;
  }
  
  #btn-nosotros {
    color: #77DD77;
  }
  
  #btn-servicios {
    color: #FFB3B3;
  }
  
  #btn-contacto {
    color: #A2C2E8;
  }
  
  #tab-content {
    display: flex;
    text-align: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    padding: 20px;
    height: 90%;
  }
  
  #tab-content.visible {
    opacity: 1;
  }
  

  /* ======================================= contenido del div desplegable ============================================= */


.curso_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    max-width: 1200px;
    padding: 20px;
    background-color: #2e2e2e; 
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.curso_content_details {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}


.contact_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
}


.contact_info_container {
    flex: 1;
    min-width: 300px; 
    max-width: 500px; 
}


.contact_form_container_contacto {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Otros estilos generales */
.contact_form_container_contacto label {
    font-size: 16px;
    color: #333;
    display: block;
    margin-bottom: 8px;
}

.contact_form_container_contacto input[type="text"],
.contact_form_container_contacto input[type="email"],
.contact_form_container_contacto textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.contact_form_container_contacto textarea {
    min-height: 100px;
}

.contact_form_container_contacto input[type="checkbox"] {
    margin-right: 10px;
}

/* Estilo para los botones de redes sociales */
.media_BTN{
    height: 40px;
    transition: all 0.5s;
    z-index: 2;
}
.media_BTN:hover{
    height: 50px;
}

/* Estilos para el modal de términos y condiciones */
#termsModal {
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(2, 2, 2, 0.603);
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    width: 80%;
    max-width: 1500px;
}


#termsOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; 
    z-index: 9998;
}

/* estilo enlaces dentro del modal */
#termsLink {
    color: #1a73e8;
    text-decoration: underline;
}

/* estilo botón cerrar del modal */
.CIEP_GenericBTN{
    height: 40px;
    background-color: #202020;
    color: rgb(243, 243, 243);
    border: solid 1px white;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}
.CIEP_GenericBTN:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: solid 1px rgb(0, 0, 0);
    border-radius: 4px;
}

.little_div {
    width: 100%;
    height: 20px;
    margin-top: 20px;
}

.fadein {
    animation: fadeIn 1s ease-in;
}

.fadeout {
    animation: fadeOut 1s ease-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}


#cellphone_number_Container {
    background: #242424;
    border: #757575 solid 2px;
    height: 30px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    align-items: center;
    width: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-left: -30px;
    transition: width 0.5s ease-in-out;
}

#cellphone_number_Container.expanded {
    width: 120px;
}


.contact_info_container li {
    margin-bottom: 15px;
}


#send_email_BTN {
    height: 40px;
    background-color: #202020;
    color: rgb(243, 243, 243);
    border: solid 1px white;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
    width: 50%;
    min-width: 50px;
}

#send_email_BTN:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#send_email_BTN:hover:not(:disabled) {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: solid 1px rgb(0, 0, 0);
    border-radius: 4px;
}

#media_IMG_Container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    height: 70px;
}

  /* ======================================= contenido de nosotros ============================================= */
  .scroll-container {
    position: relative;
    height: 70vh; 
    overflow-y: scroll;
  }

  .scroll-container .background-nosotros {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1; 
  }

  .scroll-container::-webkit-scrollbar {
    width: 8px; 
  }

  .scroll-container::-webkit-scrollbar-track {
    background: #444; 
  }

  .scroll-container::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 4px;
  }

  /* Contenedor principal de las tarjetas */
  .cards-container-nosotros {
    min-height: fit-content; 
    background-image: url(../imagenes/aboutUsBackground.png);
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(12, calc(100px + 10%));
    gap: 50px;
    padding: 20px;
  }

  /* Estilo de las tarjetas */
  .content-card-nosotros {
    position: relative;
    background: rgba(255, 255, 255, 0.1); 
    color: #fff; 
    border: 1px solid #888; 
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); 
  }

  .content-card-nosotros .text-container {
    margin-bottom: 10px;
  }

  .content-card-nosotros .image-container {
    text-align: center;
  }

  .content-card-nosotros img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
  }

  /* Estilo para alternar las posiciones */
  .content-card-nosotros:nth-child(odd) {
    grid-column: 1; /* Izquierda */
  }

  .content-card-nosotros:nth-child(even) {
    grid-column: 2; /* Derecha */
  }


/* ==================================================================================== */
/* Estilos para el menú lateral */
#menu-servicios {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 90%;
    background: #000000;
    color: white;
    position: absolute;
    border-right: #ffffff 2px solid;
    z-index: 11; 
    left: 0;
    top: 128px;
    bottom: 0;
    padding: 20px;
    transition: transform 0.5s ease-in-out;
    
}

#menu-servicios.oculto {
    transform: translateX(-100%);
}

#btn-ocultar-menu {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: -30px;
}

/* Estilos para el contenedor del tarjetas estilo carrusel */
#contenedor-tarjetas {
    margin-left: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 80%;
    height: 90%;
}

.carrusel-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 90%;
}

.carrusel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 90%;
}

.tarjeta {
    width: 45%; /* Ajustado dos tarjetas en una fila */
    max-width: 400px;
    height: 90%;
    background: gray;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    flex-shrink: 0;
}

.tarjeta img {
    max-width: 100%;
    max-height: 100px;
    margin-top: 10px;
}

/* Botones del carrusel */
.btn-carrusel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 10;
}

.btn-carrusel:first-of-type {
    left: 0;
}

.btn-carrusel:last-of-type {
    right: 0;
}

/* Efecto Fade en bordes laterales */
.carrusel-wrapper::before,
.carrusel-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    background: linear-gradient(to left, rgb(0, 0, 0), transparent);
    z-index: 5;
    pointer-events: none;
}

.carrusel-wrapper::before {
    left: 0;
    transform: rotate(180deg);
}

.carrusel-wrapper::after {
    right: 0;
}

/* Responsividad */
@media (max-width: 800px) {
    #menu-servicios {
        width: 100%;
        height: auto;
        position: static;
        text-align: center;
    }
    
    #contenedor-tarjetas {
        margin-left: 0;
        flex-direction: column;
        width: 100%;
    }
    
    .tarjeta {
        width: 90%; /* Para que ocupe casi todo el ancho en móviles */
        max-width: 300px;
    }
    
    .btn-carrusel {
        width: 40px;
        height: 40px;
    }
    
    .btn-carrusel:first-of-type {
        left: 5px;
    }
    
    .btn-carrusel:last-of-type {
        right: 5px;
    }
}

#btn-agregar-servicio {
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    width: 50%;
    min-width: 100px;
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10%;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    align-self: center;
}

#btn-agregar-servicio:hover {
    background-color: white;
    color: black;
    border-color: black;
}

#titulo-servicio {
    margin-left: 10%;
}